*{
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #A06D21;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHmGPwXHzpJsgdhU8WtD6D_WA-tIdN5c-U_Q&s");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:soft-light;
}
h2{
    text-align: center;
    color: #FFCC00;
    margin: 10px 0px;
}
p{
    color: #decfcf;
}